<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-">
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-img src="./assets/gith.png"></ion-img>
        </ion-thumbnail>
        <h1><b>FindYourDev</b></h1>
      </ion-item>
    </ion-col>
  </ion-row>
  <div class="row" padding>
    <form [formGroup]="form">
      <ion-col>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">Login</ion-button>
      </ion-col>
    </form>
    <ion-button type="submit" color="dark" expand="block">Cadastro</ion-button>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="danger">
  </ion-toolbar>
</ion-footer>